*{
	margin: 0;
	padding: 0;   
}
:root {
    --primary:#000000;
    --secondary: green;
    --light-dark: #C6C6C6;
    --white: #fff;
}
body{
	overflow-x: hidden;
    width: 100%;
    color: #000000;   
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 40px 0;
    color: var(--primary);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
}

.carousel-item{
    height: 700px;
    font-size: 80px;
    -webkit-text-stroke: 2px green;
    font-family: 'Oswald', sans-serif;
}
.d-inline-block,
.titulos_index {
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
}
.titulo_grande {
    font-family: 'Oswald', sans-serif;

}
.acordeon {
    padding: 0;
  }
  .acordeon .content {
    padding: 60px 100px 0 100px;
  }
  .acordeon .content h3 {
    font-weight: 400;
    font-size: 34px;
    font-family: 'Oswald', sans-serif;
  }
  .acordeon .content p {
    font-size: 15px;
  }
  .acordeon .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
  }
  .acordeon .accordion-list {
    padding: 0 100px 60px 100px;
  }
  .acordeon .accordion-list ul {
    padding: 0;
    list-style: none;
  }
  .acordeon .accordion-list li + li {
    margin-top: 15px;
  }
  .acordeon .accordion-list li {
    padding: 20px;
    background: #198754;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
    border-radius: 4px;
  }
  .acordeon .accordion-list a {
    display: block;
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
  }
  .acordeon .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .acordeon .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  .acordeon .accordion-list a.collapsed {
    color: #ffff;
  }
  .acordeon .accordion-list a.collapsed:hover {
    color: #009961;
  }