*{
	margin: 0;
	padding: 0;   
}
:root {
    --primary:#000000;
    --secondary: green;
    --light-dark: #C6C6C6;
    --white: #fff;
}
body{
	overflow-x: hidden;
    width: 100%;
    color: #000000;   
}
.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 40px 0;
    color: var(--primary);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
}
.carousel-item{
    height: 700px;
    font-size: 80px;
    -webkit-text-stroke: 2px green;
    font-family: 'Oswald', sans-serif;
}
.d-inline-block,
.titulos_index {
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
}
.titulo_grande {
    font-family: 'Oswald', sans-serif;
}
